@charset "UTF-8";
/* CSS Document */

imag{
	max-width:100%;
	width:100%;
}


#top_head{
	top:0;
	left:0;
	height:3vw;
	width:100%;
	margin:0;
	padding:0;
	position:fixed;
	display:block;
	border-bottom:1px solid #9F9F9F;
	background-color:rgba(255,255,255,1.00);
}

#slogo{
	width:2vw;
	position:absolute;
	top:0.5vw;
	left:0.5vw;
}

#siteName{
	position:absolute;
	left:3vw;
	top:0.7vw;
	font-family: 'Roboto', sans-serif;
	font-size:1.5vw;
}

#wrapper{
	width:80%;
	background-color:white;
	margin:auto;
	overflow:auto;
}

#left{
	width:50%;
	background-color:white;
	padding-top:10vw;
	margin:0;
	float:left;
}

#right{
	width:50%;
	background-color:white;
	padding-top:10vw;
	margin:0;
	float:left;
}
	

#blogo{
	width:35vw;
}

/*---------- right ----------------*/
/* first head */
#hello{
	padding: 0;
	font-size: 5vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	letter-spacing: -0.2vw; /*kerning letters*/
	text-align: left;
	line-height: 4vw; /*tracking lines*/
	margin-top: 0;
}

/*second head*/
#welcome{
	font-size: 3.5vw;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: -0.2vw; /*kerning letters*/
	margin-top: -2.5vw;
	margin-bottom: 2vw;
	margin-left: o;
	padding-bottom: 0.4vw;
	border-top: 1px solid #9F9F9F;
	border-bottom: 1px solid #9F9F9F;
	width: 33.2vw;
	
	
}

#introduction{
	font-size: 1.5vw;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.7vw; /*tracking lines*/
	margin-top: -1.3vw;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

p {
	margin:0;
}

#p2 {
	margin-top:0.8vw;
}



/*input box formating*/
#nameInput{
	height:1.5vw;	
	margin-left: 0;
	border:1px solid #9F9F9F;
	margin-top:1.6vw;
	font-size:0.8vw;
}

#emailInput{
	height:1.5vw;	
	margin-left: 0;
	width:35vw;
	border:1px solid #9F9F9F;
	font-size:0.8vw;
}

#howInput{
	height:1.5vw;	
	margin-left: 0;
	width:35vw;
	border:1px solid #9F9F9F;
	font-size:0.8vw;
}

#commentInput{
	border:1px solid #9F9F9F;
	font-family: 'Roboto', sans-serif;
	font-style: Italic;
	font-weight: 300;
	color:#9F9F9F;
	height:1.5vw;
	width:35vw;
	font-size:0.8vw;
}

/*submit button formating*/
#submit{
	border: 1px solid #FF0018;
	background: white;
	font-family: 'Roboto', sans-serif;
	font-style: Italic;
	font-weight: 300;
	color: #FF0018;
	width: 10.3vw;
	padding-top:0.47vw;
	padding-bottom:0.26vw;
	font-size:0.8vw;
	
}


/*changing color when cursor hover the button*/
#submit:hover{
	background:#FF0018;
	color:white;
}

/*changing color when cursor hover the box*/
#nameInput:hover{
	border:1px solid #FF0018;
	color:#E03D3C;
}

/*changing color when cursor hover the box*/
#nameInput:focus{
	border:1px solid #FF0018;
	color:#E03D3C;
}

/*changing color when cursor hover the box*/
#emailInput:hover{
	border:1px solid #FF0018;
	color:#E03D3C;
}

/*changing color after clicked the box*/
#emailInput:focus{
	border:1px solid #FF0018;
	color:#E03D3C;
}

/*changing color after clicked the box*/
#howInput:hover{
	border:1px solid #FF0018;
	color:#E03D3C;
}

/*changing color after clicked the box*/
#howInput:focus{
	border:1px solid #FF0018;
	color:#E03D3C;
}

/*changing color after clicked the box*/
#commentInput:hover{
	border:1px solid #FF0018;
	color:#E03D3C;
}

/*changing color after clicked the box*/
#commentInput:focus{
	border:1px solid #FF0018;
	color:#E03D3C;
}

@media screen and (max-width:550px){
	#left{
		width:100%;
		float:none;
	}
	
	#right{
		width:100%;
		float:none;
	}
	
	#blogo{
		margin:auto;
		overflow:auto;
		padding-left:30%;
	}
	
	#rwrapper{
		padding-left:30%;
	}
	
	#wrapper{
		width:100%;
	}
}