<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to LuLu</title>
<link rel="stylesheet" type="text/css" href="/static/css/intro_page.css">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,900,700,500,300italic,300" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Top Division, logo and site name. Menu buttons in the future -->
<div id="top_head">
	<div>
    	<img  id="slogo" src="/static/images/lulu_logo.jpg" alt="LuLu.today Logo">
    </div>
    <div id="siteName">
    	LuLu<span style="color: #E03D3C; font-weight: 700;">.</span><span style="font-weight: 500">today</span>
    </div>
</div>


<div id="wrapper">
	<main>
    	<div id="left">
        	<img id="blogo" src="/static/images/lulu_logo.jpg" alt="LuLu.today Logo">
        </div>
        
        <!-- Right half of the mid Div including 4 sub divs: hello, welcome, introduction and a form -->
        <div id="right">
        	<div id="rwrapper">
                <h1 id="hello">
                   Hello! <br><span style=" letter-spacing:-0.7vw;">Yo </span>u’ve found us!
                </h1>
                <h2 id="welcome">
                    Welcome to <span style="font-weight: 700">LuLu</span><span style="color: #E03D3C">.</span>today
                </h2>
                <div id="introduction">
                <p id="p1">
                    LuLu<span style="color:#E03D3C">.</span>today is a website providing the simplest<br>
                    way to arrange meetings, events and trips.<br>
                </p>
                <p id="p2">
                    The website is still under construction.<br>
                    If you are interested in getting the latest news<br>
                    from us, please kindly fill out the form below. <br>
                    Thank you!
                </p>
                </div>
                <!-- Form div. Plz add fuction :) -->
                <div id="form" style="line-height:2.35vw">
                    <form>
                    <input id="nameInput" type="text" name="name"  size="50" placeholder=" Your Name" required> 
                    <input id="submit" type="submit" name="submit" >
                    <br>
                    <input id="emailInput" type="email" name="email" size="68" placeholder=" Email Address" required>
                    <br>
                    <input id="howInput" type="text" name="how" size="68" placeholder=" How did you know us?">
                    <br>
                    <input id="commentInput" type="text" name="comments" size="68" placeholder=" Any comment, expectation etc.">
                    </form>
                </div>
    		</div>
        </div>
        
    </main>
</div>






</body>
</html>
